body {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: rgb(199, 218, 216);;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.row {
    background-color: rgb(199, 218, 216);
    height: 50px;
    width: 400px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex: 1;
}

.btn {
    flex: 1;
    margin: 2px;
    font-family: monospace;
    font-size: 25px;
    border-radius: 5px;
}

.display {
    height: 64px;
    background-color: rgb(184, 189, 189);
    flex: 1;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    font-size: 50px;
    font-family: monospace;
}

.one, .two, .three, .four, .five, 
.six, .seven, .eight, .nine, .zero{
    background-color: rgb(231, 194, 149);
}

.plus, .minus, .multiply, .divide{
    background-color: rgb(164, 164, 219);
}

.AC, .period, .equal, .plusMinus, .percent{
    background-color: rgb(206, 207, 207);
}